#button {
  background-color: yellowgreen;
  font-size: 30px;
  height: 50px;
  border-radius: 40%;
  font-weight: bolder;
  color: yellow;
  justify-content: center;
}

#cool {
  font-family: 'Coiny', cursive;
} */
